# Cargo build output
debug/
target/

# Cargo configuration
.cargo

# rustfmt backups
**/*.rs.bk

# MSVC Windows builds of rustc generate these
*.pdb

# VS Code
.vscode/

# Claude
.claude/

# Copilot
.github/copilot-instructions.md
.github/instructions/
